{% extends "layout.html" %}

{% block title %}
{% endblock %}


{% block main %}

    <table class="table layout">
        <thead>
            <tr>
                <th scope="col">TRANSACTION DATE</th>
                <th scope="col">STATUS</th>
                <th scope="col">NAME</th>
                <th scope="col">SHARES</th>
                <th scope="col">TOTAL PRICE</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in stocks %}
            <tr>
                <th scope="row">{{ stock.date }}</th>
                <td>{{ stock.status }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}